#css_button{
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
}

.img_css {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px dotted red;
  width: 50%;
  height: auto;
  justify-content: center;
  border-radius: 300px;
}